/ImageAndMask_.jpg
/losses_during_training_S0000.csv
/losses_during_training_S0001.csv
/losses_during_training_S0002.csv
/losses_during_training_S0003.csv
/losses_during_training_S0004.csv
/losses_during_training_S0005.csv
/losses_during_training_S0006.csv
/losses_during_training_S0007.csv
/losses_during_training_S0008.csv
/losses_during_training_S0009.csv
/losses_during_training_S0010.csv
/Metadata_S0000.txt
/Metadata_S0001.txt
/Metadata_S0002.txt
/Metadata_S0003.txt
/Metadata_S0004.txt
/Metadata_S0005.txt
/Metadata_S0006.txt
/Metadata_S0007.txt
/Metadata_S0008.txt
/Metadata_S0009.txt
/Metadata_S0010.txt
/ROC_curve_S0000.csv
/ROC_curve_S0001.csv
/ROC_curve_S0002.csv
/ROC_curve_S0003.csv
/ROC_curve_S0004.csv
/ROC_curve_S0005.csv
/ROC_curve_S0006.csv
/ROC_curve_S0007.csv
/ROC_curve_S0008.csv
/ROC_curve_S0009.csv
/ROC_curve_S0010.csv
/Train_metrics_final_0002.csv
/Train_metrics_final_0003.csv
/Train_metrics_final_0004.csv
/Train_metrics_final_0005.csv
/Train_metrics_final_0006.csv
/Train_metrics_final_0007.csv
/Train_metrics_final_0008.csv
/Train_metrics_final_0009.csv
/Train_metrics_final_0010.csv
/TypesOfResBlocks.png
/UNet_V2_S0001.pth
/UNet_V4_S0002.pth
/UNet_V4_S0003.pth
/UNet_V4_S0004.pth
/UNet_V4_S0005.pth
/UNet_V4_S0006.pth
/UNet_V4_S0007.pth
/UNetV4_S0000.pth
/Vldn_metrics_final_0000.csv
/Vldn_metrics_final_0001.csv
/Vldn_metrics_final_0002.csv
/Vldn_metrics_final_0003.csv
/Vldn_metrics_final_0004.csv
/Vldn_metrics_final_0005.csv
/Vldn_metrics_final_0006.csv
/Vldn_metrics_final_0007.csv
/Vldn_metrics_final_0008.csv
/Vldn_metrics_final_0009.csv
/Vldn_metrics_final_0010.csv
/.ipynb_checkpoints/
/.vscode/
/Data/
/oldies/
/Other data/
